body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

.container {
  width: 880px;
  padding: 0 15px;
  margin: 0 auto;
}

.container p {
  padding: 30px 0px;
}

.top-wrapper {
  padding: 220px 0 100px 0;
  background-image: url(./fontawesome/thatthingyoudo.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.9;
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 5px;
  color: transparent;
  -webkit-text-stroke: 5px white;
}

.top-wrapper p {
  opacity: 0.9;
  font-size: 20px;
  color: gray;
}

.btn-wrapper {
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.signup {
  background-color: gray;

}

.signin {
  background-color: gray;
}


.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  width: 160px;
}

.btn:hover {
  opacity: 1;
}

.login-form {
  background-color: white;
}

.password_box {
  width: 360px;
  height: 40px;
  opacity: 0.8;
  border: none;
  text-align: center;
  font-size: 17px;
  color: grey;
  margin-top: 20px;
  margin-bottom: 10px;
}

::placeholder {
  color: gray;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.90);
  position:fixed;
  top: 0;
  z-index:10;
}

.logo {
  width: 124px;
  margin-top: 20px;
}

.lesson-icon {
  position: relative;
}
