<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Progate</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link th:href="@{/css/my_best.css}" rel="stylesheet">
  </head>
  <body>
    <header>
      <div class="container">
        <div class="header-left">
          <input class="back" type="image" onclick="history.back()" th:src="@{/css/fontawesome/arrow-left-solid.svg}">
        </div>
        <div class="header-right">
        </div>
      </div>
    </header>
    <div class="top-wrapper">
      <div class="container">
        <h1>CHANGE MY BEST</h1>
        <form class="my-best" th:action="@{/changeMyBest}" th:object="${myBest}" method="post">
          <div class="info">
            <input class="userid_box" type="text" name="song" placeholder="曲名" th:field="*{musicName}" required>
            <input class="userid_box" type="text" name="artist" placeholder="アーティスト名" th:field="*{musicArtist}" required>
            <input class="userid_box" type="url" name="youtube_link" placeholder="YouTubeリンク" th:field="*{musicUrl}" required>
          </div>
          <div class="btn-wrapper">
            <button type="submit" name="change" class="btn change">変更</button>
          </div>
        </form>
      </div>
    </div>
    <footer>
    </footer>
  </body>
</html>
